#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=theFrisbee Blueprint
GenericName[]=Disk Management
Categories=System;
Exec=thefrisbee
Icon=com.vicr123.thefrisbee_blueprint
StartupWMClass=theFrisbee Blueprint
