#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=theFrisbee
GenericName[]=Disk Management
Categories=System;
Exec=thefrisbee
Icon=thefrisbee
StartupWMClass=theFrisbee
